:root {
    --hue: 159;
    --title-color: hsl(var(--hue) 41% 10%);
    --base-color: hsl(var(--hue) 36% 57%);
}

* {
    margin: 0;
}

html,
body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;
    background-color: #121214;
}

main {
    background: url(../image/background.svg) no-repeat center/cover;
    width: 375px;
    height: 812px;
    text-align: center;
    position: relative;
    transition: background 0.2s;
}

#button {
    width: 2rem;
    height: 1rem;
    border-radius: 2px;
}

.conteiner {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey);
    position: relative;
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
}

.avatar span {
    position: absolute;
    top: -1px;
    z-index: 1;
    left: 0.5rem;
}

.avatar>img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    color: var(--grey);
    text-decoration: none;
    margin-top: 0.25rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    text-align: center;
}

a.button {
    position: relative;
    margin: auto auto;
    color: #000;
    border: solid red;
    width: 8rem;
    background-color: rgb(226, 76, 76);
}

p {
    margin-top: 2rem;
}

ul {
    margin-top: 3rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

li {
    transition: all 0.4s;
    cursor: pointer;
}

li:hover {
    transform: scale(1.2);
}

#portfolio {
    max-width: 23.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey);
    position: relative;
    background-color: #202024;
}

.Card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 21rem;
    min-width: 20px;
}

.Card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content {
    flex-grow: 1;
    background-color: #fff;
    color: #000;
    padding: 10px;
}

.Card,
#github {
    transition: all 0.5s;
    cursor: pointer;
}

.Card:hover,
#github:hover {
    transform: scale(1.04);
}

a {
    display: block;
}


/* ======================================== CAPTURE PAGE =============== */

.btn {
    width: 11rem;
    height: 2rem;
    margin: auto;
    align-items: center;
    cursor: pointer;
    background-position: calc(100% - 10px) center;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    padding-top: 13px;
}

.btn-one span {
    transition: all 0.3s;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


/* ======================================== DEV FINANCE=============== */

div.logo {
    background-color: white;
    border: solid rgb(226, 226, 226) 1px;
    border-radius: 0.25rem;
    transition: background .3s;
}

div.dev:hover {
    background-color: #2D4A22;
    border-radius: 1rem;
    border: none;
}

.dev {
    display: flex;
    position: relative;
    font: 700 1.31rem 'Poppins', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 11rem;
    height: 2rem;
    margin: auto;
    align-items: center;
    gap: 0;
    transition: border-radius 1s;
}

.swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/* ======================================== BEAUTY SALON =============== */

div.logo {
    background-color: white;
    border: solid rgb(226, 226, 226) 1px;
    border-radius: 0.25rem;
    transition: background .3s;
}

div.logo:hover {
    background-color: var(--base-color);
}

div.logo span {
    transition: color .8s
}

div.logo:hover span {
    color: white;
}

.logo {
    display: flex;
    position: relative;
    font: 700 1.31rem 'Poppins', sans-serif;
    color: var(--title-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 11rem;
    height: 2rem;
    margin: auto;
    align-items: center;
    gap: 0;
}

.logo span {
    color: var(--base-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    margin-top: 5px;
    padding: 5px;
    background-color: var(--black);
    width: 100%;
    opacity: 0.8;
}

@media (min-width: 550px) {
    main {
        background: url('../image/Desktop.svg') center/cover;
        width: 100vw;
    }
    .conteiner {
        margin-top: 13rem;
    }
    #portfolio {
        max-width: 22.2rem;
    }
}


/* ======================================== CONTROLE DE VIDEO=============== */

.Content.video {
    position: relative;
    margin: 0px;
    padding: 0px;
    cursor: default
}

div.Content.video:hover .Content.video.control {
    visibility: visible;
}

.Content.video video {
    width: 100%;
    position: relative;
}

.Content.video.control {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    opacity: 1;
    visibility: hidden;
}

.Content.video.control img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}


/* ======================================== CHURRASCOMETRO =============== */

.logo.churras {
    background-color: #3498DB;
    transition: all 0.5s;
    transition: all 150ms ease-in-out;
}

.logo.churras:hover {
    background-color: white;
    border: #3498DB solid 1px;
    box-shadow: 0 0 20px 2px #3498db;
}